In [10]:
# This Python 3 environment comes with many helpful analytics libraries installed
# It is defined by the kaggle/python docker image: https://github.com/kaggle/docker-python
# For example, here's several helpful packages to load in 

import numpy as np # linear algebra
import pandas as pd # data processing, CSV file I/O (e.g. pd.read_csv)

# Input data files are available in the "../input/" directory.
# For example, running this (by clicking run or pressing Shift+Enter) will list all files under the input directory

import os
for dirname, _, filenames in os.walk('/kaggle/input'):
    for filename in filenames:
        print(os.path.join(dirname, filename))

# Any results you write to the current directory are saved as output.

In [11]:
# Google Cloud developed BigQuery to help query massive datasets in efficient and super-faset SQL queries using the processing power of Google's infrastructure
## Your project using Google BigQuery will be billded
### Authentification setup and API connection is needed
#### bq_helper is a package that currently only works in Kaggle, which simplifies common read-only tasks in BigQuery by dealing with object references and unpacking result objects into pandas dataframes

# Here lies the code that can be run in Kaggle,using data.csv in EDA-Python-master document
## We are using Kaggle's public dataset BigQuery integration

In [12]:
import pandas as pd

In [30]:
from google.cloud import bigquery

In [13]:
from bq_helper import BigQueryHelper

In [20]:
#BigQueryHelper requires creating one object (2 arguments: project name & dataset name)) Here we make a new one
bq_assistant=BigQueryHelper('bigquery-public-data','openaq')

Using Kaggle's public dataset BigQuery integration.

In [21]:
bq_assistant.list_tables()

['global_air_quality']

In [22]:
# Now we are doing some basic EDA
bq_assistant.head('global_air_quality',num_rows=3)

,location,city,country,pollutant,value,timestamp,unit,source_name,latitude,longitude,averaged_over_in_hours
0,"BTM Layout, Bengaluru - KSPCB",Bengaluru,IN,co,910.00,2018-02-22 03:00:00+00:00,µg/m³,CPCB,12.912811,77.60922,0.25
1,"BTM Layout, Bengaluru - KSPCB",Bengaluru,IN,no2,131.87,2018-02-22 03:00:00+00:00,µg/m³,CPCB,12.912811,77.60922,0.25
2,"BTM Layout, Bengaluru - KSPCB",Bengaluru,IN,o3,15.57,2018-02-22 03:00:00+00:00,µg/m³,CPCB,12.912811,77.60922,0.25

In [23]:
# have a overview of columns
bq_assistant.table_schema('global_air_quality')

,name,type,mode,description
0,location,STRING,NULLABLE,Location where data was measured
1,city,STRING,NULLABLE,City containing location
2,country,STRING,NULLABLE,Country containing measurement in 2 letter ISO...
3,pollutant,STRING,NULLABLE,Name of the Pollutant being measured. Allowed ...
4,value,FLOAT,NULLABLE,Latest measured value for the pollutant
5,timestamp,TIMESTAMP,NULLABLE,The datetime at which the pollutant was measur...
6,unit,STRING,NULLABLE,The unit the value was measured in coded by UC...
7,source_name,STRING,NULLABLE,Name of the source of the data
8,latitude,FLOAT,NULLABLE,Latitude in decimal degrees. Precision >3 deci...
9,longitude,FLOAT,NULLABLE,Longitude in decimal degrees. Precision >3 dec...
10,averaged_over_in_hours,FLOAT,NULLABLE,The number of hours the value was averaged over.

In [35]:
# After have an overlook of dataset, we can set up a query
QUERY = "SELECT location, timestamp, pollutant FROM `bigquery-public-data.openaq.global_air_quality`"

In [36]:
# it is a good habit to always check how big the dataset is that you will execute scanning or querying
bq_assistant.estimate_query_size(QUERY)

0.000645490363240242

In [40]:
# before we run a query, it is another good habit to get results into a pandas dataframe
df=bq_assistant.query_to_pandas(QUERY)

In [41]:
df.head(5)

                        location                 timestamp pollutant
0  BTM Layout, Bengaluru - KSPCB 2018-02-22 03:00:00+00:00        co
1  BTM Layout, Bengaluru - KSPCB 2018-02-22 03:00:00+00:00       no2
2  BTM Layout, Bengaluru - KSPCB 2018-02-22 03:00:00+00:00        o3
3  BTM Layout, Bengaluru - KSPCB 2018-02-22 03:00:00+00:00      pm25
4  BTM Layout, Bengaluru - KSPCB 2018-02-22 03:00:00+00:00       so2

In [ ]:
#How we are going to run a real query (in our "Impact of Game of Thrones on US Baby Names" chapter)